---
import MainLayout from '../layouts/MainLayout.astro'

import Section from '../components/Section';
import FeaturedProjects from '../components/FeaturedProjects';
import PostList from '../components/PostList.astro';
import NewsletterCard from '../components/NewsletterCard';

const allPosts = await Astro.glob('../pages/posts/*.md');

const recentPosts = [
        {
            title: 'Self hosting code with OpenBSD and stagit',
            date: '28-08-2023',
            url: 'https://brijesh.dev'
        },
	        {
            title: 'Switching full time to NeoVim',
            date: '26-06-2023',
            url: 'https://brijesh.dev'
        },
	        {
            title: 'Contributing to SolidStart',
            date: '26-06-2023',
            url: 'https://brijesh.dev'
        },
	        {
            title: 'Current state of WebAuthn',
            date: '26-06-2023',
            url: 'https://brijesh.dev'
        },
	        {
            title: 'Value in learning systems programming languages',
            date: '26-06-2023',
            url: 'https://brijesh.dev'
        },
	        {
            title: 'Switching from Debian to OpenBSD',
            date: '26-06-2023',
            url: 'https://brijesh.dev'
        },
	        {
            title: 'Building my own privacy friendly analytics tool',
            date: '26-06-2023',
            url: 'https://brijesh.dev'
        },
	        {
            title: 'Minimal viable setup, argument against ricing setups',
            date: '26-06-2023',
            url: 'https://brijesh.dev'
        }
    ];
---


<MainLayout title="Brijesh's Blog">
  <Section title="Pinned projects">
    <FeaturedProjects />
  </Section>

  <Section title="Recent Posts">
   <PostList posts={allPosts} /> 
  </Section>

  <NewsletterCard />
</MainLayout>  
