---
const { posts } = Astro.props;
---

<div>
  {posts.map((post) => (
    <a
      href={post.url}
      class="flex justify-between items-center hover:bg-gray-50 border-b-2 border-dashed border-transparent hover:border-slate-300 cursor-pointer pt-2 pb-1"
    >
      <p transition:name="post-title" class="text-sm font-medium text-gray-700 px-0.5">
        {post.frontmatter.title}
      </p>
      <p class="monospace text-sm text-gray-500">
        {new Date(post.frontmatter.date).getDate()}-{new Date(post.frontmatter.date).getMonth() + 1}-{new Date(post.frontmatter.date).getFullYear()}
      </p>
    </a>
  ))}
</div>

