---
import Navigation from "../components/Navigation";
import { ViewTransitions } from "astro:transitions";
const { title } = Astro.props;
---
<script>
  if ( navigator.userAgent.indexOf("Chrome") !== -1 ) {
    document.querySelector('#chrome-warning').style.display = 'block';
  } 
  // navigator.userAgent.indexOf("Chrome") !== -1 ? alert("Google chrome is a tool of surveillance capitalism, and I urge you to avoid using it. I recommend browsers like GNU IceCat or hardened Firefox. If you have changed your user agent for obfuscation, you can ignore this message.") : null
</script>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <ViewTransitions />
    <title>{title}</title>
    <style is:global>
      @font-face {
        font-family: "Mona Sans";
        font-weight: 200 900;
        font-display: block;
        font-style: normal;
        src: url("/fonts/Mona-Sans.woff2") format("woff2");
      }

      @font-face {
        font-family: "Hubot Sans";
        src: url("/fonts/Hubot-Sans.woff2") format("woff2");
      }

      .font-mono {
        font-family: "Hubot Sans";
      }

      /* Hubot-Sans.woff2 */

      .font-display {
        font-family: "Mona Sans";
        font-variation-settings: "wdth" 120;
        font-stretch: 100%;
      }

      .font-variation-wdth-110 {
        font-variation-settings: "wdth" 110;
      }

       .copy-code {
	position: absolute;
	top: 12px;
	color: white;
	right: 12px;
	background-color: #484f57;
	padding: 0.25rem 0.5rem;
	font-size: 0.75rem;
	line-height: 1rem;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
      }

      .copy-code:hover {
	background-color: #32373d;
      }

      .astro-code {
	padding: 12px;
	border-radius: 8px;
	margin: 25px 0;
      }

      .post-layout h2 {
	font-weight: 600 !important;
	font-size: 1.5rem !important; /* 24px */
	line-height: 2rem !important; /* 32px */
	margin: 2.5rem 0 1rem 0 !important;
        font-variation-settings: "wdth" 110;
        font-family: "Mona Sans";
        font-stretch: 100%;
	color: rgb(31 41 55);
      }

      .post-layout img {
	margin: 2rem 0 !important;
      }

      .post-layout p {
	margin: 1rem 0 !important;
      }
    </style>
  </head>
  <body>
    <div class="relative p-4">
      <nav class="lg:fixed lg:h-full lg:left-4 max-w-2xl mx-auto">
        <Navigation />
      </nav>
      <main class="max-w-[640px] mx-auto my-6">

        <slot />

	<div style="display: none" id="chrome-warning" class="mt-12">
	  <div class="rounded-md bg-red-50 p-4 mb-12">
	    <h3 class="text-sm font-medium text-red-800">You are using Google Chrome</h3>
	    <div class="mt-2 text-sm text-red-700">
	      <ul role="list" class="list-disc space-y-1 pl-5">
		<li>
		You can ignore this message if you changed your user agent for obfuscation
		</li>
		<li>Chrome is a proprietary surveillance engine that tracks your every move and sells your data to advertisers</li>
		<br>
		<div class="text-blue-00">
		<a href="https://www.mozilla.org/firefox" class="underline mr-1">Download Firefox</a> 
		<br>
		<a href="https://wiki.gnome.org/Apps/Web" class="underline">Download Epiphany</a>
		</div>
	      </ul>
	    </div>
	  </div>
	</div>
      </main>
    </div>
  </body>
</html>
