---
import MainLayout from "./MainLayout.astro";

import { fade } from "astro:transitions";

const { frontmatter } = Astro.props;
---
<script>
  let copyButtonLabel = "Copy";
  let codeBlocks = Array.from(document.querySelectorAll("pre"));

  for (let codeBlock of codeBlocks) {
    let wrapper = document.createElement("div");
    wrapper.style.position = "relative";

    let copyButton = document.createElement("button");
    copyButton.className = "copy-code";
    copyButton.innerHTML = copyButtonLabel;

    codeBlock.setAttribute("tabindex", "0");
    codeBlock.appendChild(copyButton);
    // wrap codebock with relative parent element
    codeBlock.parentNode.insertBefore(wrapper, codeBlock);
    wrapper.appendChild(codeBlock);

    copyButton.addEventListener("click", async () => {
      await copyCode(codeBlock, copyButton);
    });
  }

  async function copyCode(block, button) {
    let code = block.querySelector("code");
    let text = code.innerText;

    await navigator.clipboard.writeText(text);

    // visual feedback that task is completed
    button.innerText = "Code Copied";

    setTimeout(() => {
      button.innerText = copyButtonLabel;
    }, 700);
  }
</script>

<MainLayout>
  <div class="post-layout">
    <div class="mt-16">
      <h1
	transition:name="post-title"
	class="font-bold leading-snug tracking-normal font-display font-variation-wdth-110 text-4xl my-4 text-gray-800"
      >
	{frontmatter.title}
      </h1>
    </div>

    <div class="mb-14" transition:animate={fade({ duration: "0.5s" })}>
      <p class="mb-10 font-display text-gray-500 font-variation-wdth-95">
	{frontmatter.minutes} minutes read
      </p>
      <div class="mt-12">
	<slot />

		<div style="display: none" id="chrome-warning" class="mt-12">
	  <div class="rounded-md bg-red-50 p-4 mb-12">
	    <h3 class="text-sm font-medium text-red-800">You are using Google Chrome</h3>
	    <div class="mt-2 text-sm text-red-700">
	      <ul role="list" class="list-disc space-y-1 pl-5">
		<li>
		You can ignore this message if you changed your user agent for obfuscation
		</li>
		<li>Chrome is a proprietary surveillance engine that tracks your every move and sells your data to advertisers</li>
		<br>
		<div class="text-blue-00">
		<a href="https://www.mozilla.org/firefox" class="underline mr-1">Download Firefox</a> 
		<br>
		<a href="https://wiki.gnome.org/Apps/Web" class="underline">Download Epiphany</a>
		</div>
	      </ul>
	    </div>
	  </div>
	</div>

      </div>
    </div>
  </div>
</MainLayout>

